.divBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

button:disabled {
    opacity: 0.5;
    cursor: auto;
}
button {
    z-index: 3;
}

#btnPunch {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    cursor: pointer;
    background-color: red;
}
#icon {
    width: 50px;
}
#btnPunch:active {
    box-shadow: 0px 0px 50px yellow, 0px 0px 20px white, 0px 0px 75px red;
    border-color: white;
}
#btnPunch:disabled:active {
    transform: scale(100%);
}
#btnPunch:active #icon {
    transform: scale(75%);
}
@keyframes apparition {
    0% {
        opacity: 0;
        top: 10%;
    }
    100% {
        opacity: 1;
        top: 20%;
    }
}
.divWin {
    position: absolute;
    height: 130px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 10px black;
    color: black;
    top: calc(50% - 50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid white;
    transition: 0.3s ease;
    animation: apparition 0.3s forwards;
}
#reset {
    background-color: red;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}
#reset:hover {
    background-color: rgb(255, 0, 0);
    color: white;
    border-color: white;
}
#reset:active {
    background-color: red;
    color: black;
    border-color: black;
}