* {
    box-sizing: border-box;
}
body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}
#root {
    height: 100%;
}
.App {
    background-image: url(https://img.wattpad.com/ccb734fa06b9b94f699e25eb5e259a809247d289/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f6c6d494a465764756b63455652673d3d2d313234303136373232362e313730336236643565363966323336373538393537353731343333382e6a7067);
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#progress::-webkit-progress-bar {
    background-color: red;
    border-radius: 10px;
}
#progress::-webkit-progress-value {
    background-color: green;
    border-radius: 10px;
    transition: 0.3s ease;
}
#progress {
    appearance: none;
    accent-color: blue;
}
.divBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
button {
    border: 2px solid white;
    background-color: gray;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

